{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/sidebar.css') }}">
{% endblock %}

{% block nav %}

{% if app.user %}
        <div class="mb-3">
            Bem vindo, {{ app.user.nome }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>

        <div class='Navbar'>
            <ul>
                <li><a href="{{ path('app_register') }}">Register</a></li>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_user') }}">User</a> </li>
            </ul>
        </div>

    {% endif %}

    {% endblock %}